body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#containerihardlyknowher{
    width: 1380px;
    margin: auto;
}
.main{
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    margin-top: 100px;

    height: 700px;
}
.tab{
    height: 80px;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    z-index: -1;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 170%;
    transition: all .5s ease;
    margin-top: -60px;
}
#title{
    margin-top: -70px; 
    margin-left: 80px;
    background-color: #eedcB8;
    width: 400px;
    font-size: 200%;
    font-weight: 600;
}
#page2{
    margin-left: 700px;
    width: 150px;
    background-color:#bc63c6;
}
#page2:hover{
    background-color:#c195c6;
}
#page3{
    margin-left: 900px;
    width: 150px;
    background-color:#447fe5;
}
#page3:hover{
    background-color:#89abe5;
}
#page4{
    margin-left: 1100px;
    width: 150px;
    background-color:#71b76f;
}
#page4:hover{
    background-color:#93b792;
}


img.tape{
    position: absolute;
    opacity: .85;
}
#tape1{
    transform: rotate(140deg);
    left: -80px;
    top: -20px;
}
#tape2{
    transform: rotate(41deg);
    left: 660px;
    top: -25px;
}

div.content1{
    background-color: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    width: 600px;
    margin: 120px;
    padding: 40px;
    font-size: 190%;
}
div.content2{
    width: 1060px;
    background-color: white;
    position: absolute;
    margin: 120px;
    margin-top: 600px;
    font-size: 170%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    padding: 40px;
    text-align: center;
}

div.content3{
    width: 400px;
    background-color:gold;
    position: absolute;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    padding: 40px;
    margin-left: 850px;
    font-size: 110%;
    font-weight: normal;
}

div.person{
    padding: 30px;
    width: 350px;
    float: left;
    border: 2px dashed black;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 10px;
}
button{
    font-size:90%;
    padding: 5px;
    background-color: #71b76f;
    transition: all .3s ease;
}
button:hover{
    background-color: white;
}

li{
    font-weight: bold;
}